@model Deneme.Models.Not

@{
    ViewData["Title"] = "Not Düzenle";
}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h3 class="mb-3">✏ Not Düzenle</h3>

        <form asp-action="Duzenle" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label class="form-label">Başlık</label>
                <input asp-for="Baslik" class="form-control" />
            </div>

            <div class="mb-3">
                <label class="form-label">İçerik</label>
                <textarea asp-for="Icerik"
                          class="form-control"
                          rows="5"></textarea>
            </div>

            <button type="submit" class="btn btn-warning">
                Kaydet
            </button>

            <a asp-action="Index" class="btn btn-secondary">
                Geri
            </a>

        </form>

    </div>

</div>
